@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.nav {
  background-color: #2d3250;
  height: 70px;
  width: 100%;
  position: relative;
  z-index: 999;
}

.body {
  background-color: #2d3250;
}

.logotext {
  color: #ffffdd;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
}

.nav_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link {
  text-decoration: none;
  color: #ffffdd;
  margin-left: 20px;
}

.name {
  padding-left: 20px;
  font-size: 30px;
  color: #424769;
  display: flex;
  justify-items: flex-start;
  margin-top: auto;
}

.name h2 {
  white-space: nowrap;
}

.int {
  margin-top: 75px;
}

.joe {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  width: 800px;
}

.abt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.abt p {
  margin-top: 1rem;
  color: #7077a1;
  font-size: 1.2rem;
}

.abt h3 {
  font-size: 30px;
}

.pixur {
  position: relative;
  bottom: 50px;
}

.twis {
  display: flex;
  align-items: flex-end;
  margin-top: 2rem;
  object-fit: cover;
}

.fewwords {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  gap: 150px;
  margin-bottom: 1rem;
  background-color: #424769;

}

.fewwords_1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffdd;
}

.fewwords_2 {
  color: #000000;
  flex: 1;

}

.fewwords h4 {
  font-size: 55px;
}

.fewwords p {
  color: #000000;
  font-size: 15px;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  gap: 30px;
  padding-top: 0;
}

.photos img {
  height: 500px;
  width: 500px;
  border-radius: 15px;
  object-fit: cover;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo h5 {
  display: flex;
  justify-content: center;
  text-align: start;
  margin-left: 1.5rem;
  font-size: 35px;
  padding: 1rem 0;
  color: #0B60B0;
}

.photo p {
  font-size:15px;
  color: #0F1035;
  margin-left: 2rem;
}